*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family:'Arial',"sans-serif;"
	
}

p1{
	color: red;
}
p2{
	color: whitesmoke;
}
q1{
	color: green;
}
h99{
	color: white;
}
.title{
	display: flex;
	font-size: 1.2rem;
	padding: 10px;
	justifity-content:  center;
	align-items: center;
	position: sticky;
	z-index: 999;

}
.section1{
	padding: 10px;
	background: #131313;
	height: 80px;
	display: flex;
	font-size: 1rem;
	justifity-content:  center;
	align-items: center;
	position: sticky;
	top: 20;
	z-index: 1;
}
.sexy{
	width: 300px;

}
.date{
	background: #f11111;
	height: 20px;
	font-size: 1rem;
	justifity-content:  center;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 2;


}
.allq{
	padding: 5px;
	font-size: 1rem;
}
.openq{
	padding-top: 10px;
	padding-left: 5px;
	font-size: 1rem;
}