
*{
	background-color: lightblue;

}


#logo{
	display: block;
	margin: auto;
	}

#ndesc{
	display: flex;
	background-color: mediumpurple;
	border: Solid 3px purple;
	margin: auto;
}

#name{
	text-align: center;

}

#prflbox{
	background-color: mediumpurple;
	margin: auto;
}

.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.one {
  background-image: url('foul.jpg')
}