body{
	background-color: #65C8D0;
	background-image: url("kitchen2.png");


}
#new{
	color: red;
	background-color:black;
}
#MENU{
	color: black;
	background-color: orange;
	text-align: center;

}
#LOGO{
	display: block;
	margin: auto;
}
#alert{
	display: inline-block;
	font-size: 10px;
	color: red;
}	
#nav{

	color: blueviolet;
	text-align: center;
}
#nav:hover{
	color: darkred;
	text-align: center;
	margin: auto;
}
p{
	color: black;
	background-color: lightskyblue;
}
#food{
	display: grid;
	border: 4px solid orange;
	margin: auto;
}
h2{
	text-align: center;
	margin: auto;
	background-color: orange;

}

#food-name{
	display: block;
	align-content: center;
	background-color:orange ;
	color: Black;
}

h3{
	text-align: center;
	margin: auto;
	background-color: orange;
	border: 1px solid red;
	padding: 2px ;

}

p{
	text-align: center;
	text-align: justify-all;
}
#food-desc{
	display: block;
	text-align: center;
	margin: 10px;

}
div1{
	top-margin:10px ;
	display: block;
	text-align: center;
	background-color: lightskyblue;
}

form{

	background-color: lightskyblue;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

table{
	width: 50%;
	text-align: center;
	align-content: center;
	table-layout: auto;
	border: Solid;
	margin-left: auto;
	margin-right:auto ;
	margin-bottom: 10px;
	background-color: lightskyblue;

}
th{
	border: solid;
}
td{
	border: solid;
}
#price{
	display: block;
	text-align: center;
}

#ending{
	background-color: lightskyblue;
	margin: 0px;
}


